.search-form {
	display: flex;
	align-items: center;
}
.p-float-label {
	margin-left: 5px;
}

.select-form,
.input-form,
.reset-form {
	margin: 5px;
	border-radius: 20px;
	height: 25px;
	border: 1px solid darkorange;
	background-color: antiquewhite;
	color: black;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.25s;
	width: 100px;
	margin: 10px;
	transition: 0.25s;
}
.select-form:hover,
.input-form:hover,
.reset-form:hover {
	background-color: rgb(255, 210, 126);
	transition: 0.25s;
}
.input-form {
	border-radius: 10px;
	border: 1px solid orange;
	background-color: aliceblue;
	outline: none;
	padding: 0px 10px 0px 10px;
}

#search-btn,
#clear-btn {
	background-color: antiquewhite;
	color: #333333;
	border: 1px solid darkorange;
	margin: 0 5px;
}

#search-btn:hover,
#clear-btn:hover {
	background-color: rgb(255, 210, 126) !important;
	border: 1px solid darkorange !important;
	color: #333333 !important;
}

@media (max-width: 400px) {
	.select-form,
	.input-form,
	.search-form,
	.reset-form {
		margin: 3px;
	}
	.select-form {
		width: 70px;
	}
	.input-form {
		width: 80px;
	}
}
