.content-container {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.header-navbar-container {
	background-image: linear-gradient(rgba(255, 140, 0, 0.653), transparent) !important;
	padding-bottom: 50px;
}

a {
	border-radius: inherit;
}
ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 1rem;
	/* grid-template-columns: auto auto auto; */
	grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
}

.ads-container {
	height: 90vh;
}

@media (max-width: 730px) {
	.header-navbar-container {
		padding-bottom: 25px;
	}
}
