.ads-form {
  display: flex;
  margin: 30px auto;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid #3498db;
}
.create-ad {
  border-radius: 20px;
  position: absolute;
  right: 40px;
  height: 40px;
  top: 107px;
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  opacity: .8;
  transition: .25s;
  width: 100px;
}
.create-ad:hover {
  width: 140px;
  opacity: 1;
  transition: .25s;
}
.log-out {
  border-radius: 20px;
  height: 40px;
  border: 1px solid darkred;
  background-color: transparent;
  color: white;
  cursor: pointer;
  opacity: .8;
  transition: .25s;
  width: 100px;
  margin: 10px;
}
.log-out:hover {
  background-color: darkred;
  width: 140px;
}
.log-out-container {
  display: flex;
  justify-content: flex-start;
}
a {
  display: flex;
  justify-content: center;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
li {
  border: solid 2px #2ecc71;;
  background-color: lightslategrey;
  border-radius: 160px;
  width: 350px;
  height: 350px;
  margin: 10px;
  text-align: center;
  transition: 0.25s;
}
li:hover {
  background-color: gray;
  color: whitesmoke;
  border-radius: 10px;
  transition: 0.25s;
  clip-path: none;
}
img {
  max-height: 145px;
  margin: 20px 20px 10px 20px;
  border-radius: inherit;
  max-width: 250px;
  min-height: 150px;
}
h1 {
  text-align: center;
  color: whitesmoke;
}
h2 {
  margin: 0;
}
h2, p, a {
  color: whitesmoke;
  text-decoration: none;
}
p {
  margin: 10px;
}
.select-form, .input-form, .search-form, .reset-form {
  margin: 5px;
}
.input-form {
  border-radius: 10px;
  border: none;
  height: 15px;
}
.price-type {
  display: flex;
  justify-content: space-around;
}
.description {
  max-height: 20px;
}
.edit-btn {
  margin-top: 40px;
}

@media (max-width: 400px) {
  .ads-form {
    width: 290px;
    padding: 0;
    justify-content: space-around;
  }
  .select-form, .input-form, .search-form, .reset-form {
    margin: 0;
  }
  .select-form {
    width: 70px;
  }
  .input-form {
    width: 80px;
  }
  li {
    width: 290px
  }
  
} 

@media (max-width: 715px) {
.create-ad {
    top: 10px;
    right: 10px;
  }
}
