.p-menubar .p-menubar-custom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-container h1 {
	margin: 0;
}

.menu-container {
	padding: 10px;
}

.menu-container button {
	margin: 0px 10px;
}

.form-container {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
