body .p-menubar {
	background-color: transparent !important;
	border: none !important;
}

.p-menubar .p-menubar-custom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-container h1 {
	margin: 0;
}

.menu-container {
	padding: 10px;
}

.menu-container button {
	margin: 0px 10px;
}

.form-container {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

.bars-menu {
	background-color: transparent !important;
	color: #333333 !important;
	border: none !important;
	font-size: 20px !important;
}

.overlay-ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay-li {
	min-width: 100px;
	margin: 5px;
}

body .p-overlaypanel {
	width: 150px;
	transform: scaleX(-1);
}

body .p-overlaypanel .p-overlaypanel-content {
	padding: 0 !important;
}

.p-button-secondary {
	transform: scaleX(-1);
	min-width: 100%;
}

.logout:hover {
	background-color: rgba(255, 0, 0, 0.345) !important;
}

@media (max-width: 730px) {
	.p-menubar .p-menubar-custom {
		flex-direction: column;
	}
	.form-container {
		margin: 0 auto;
		order: 2;
	}
	.menu-container {
		order: 1;
		width: 100% !important;
		transform: scaleX(-1);
		position: absolute;
		margin: 0;
		padding: 0 10px;
	}
	body .p-overlaypanel {
		width: unset;
		transform: none;
	}
	.p-button-secondary {
		transform: none;
		min-width: 100%;
	}
}
